@font-face {
  font-family: "Padrao";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Decorativa";
  src: url(../fonts/Galada-Regular.ttf);
}

body {
  margin: 0px;
}

#header {
  display: table;
  //border: 1px solid blue;
  background-color: #08bfc6;
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-size: 150%;
  font-family: "Decorativa";
  width: 100%;

  .calibragem {
    display: table-cell;
    width: 33%;
    //border: 1px solid yellow;
  }

  a {
    //border: 1px solid yellow;
    width: 33%;
    display: table-cell;
    margin: 10px;
  }

  img {
    //border: 1px solid blue;
    vertical-align: middle;
    padding: 10px 0px 10px 10px;
  }
}

#conteudo {
  //border: 1px solid yellow;
  display: block;
}

#conteiner {
  text-align: center;

  .botao_exercicio {
    font-size: 200%;
    border: 1px solid black;
    padding: 20px 0px 20px 0px;
    margin: 20px;
    color: white;
    background-color: #0066ff;
    font-family: "Padrao";
    //margin: auto 0px;
  }

  a:link {
    text-decoration: none;
  }
}

#conteinerFormulario {
  border: 1px solid black;
  padding: 10px;
  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
  //margin-top: 80px;
  border-radius: 5px;
  //height: 20%;
  font-family: "Padrao";
  //text-align: center;
  * {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  label {
    font-family: "Padrao";
    font-size: 120%;
  }

  input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 100%;
    width: 70%;
    max-width: 400px;
    display: block;
  }

  button {
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: #0080ff;
    font-size: 100%;
  }
}

#conteudoResultado {
  width: 100%;
  margin: 0px auto;
  margin-top: 30px;
  font-family: "Padrao";
  text-align: center;

  #resultado {
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
    padding: 10px;

    border-radius: 5px;
  }
}

#calculadora {
  display: table;
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  font-family: "Padrao";
  text-align: center;
  margin: 0px auto;
  margin-top: 20px;

  .linhas {
    display: table-row;
  }

  .botaoCaluladora {
    width: 80px;
  }

  label {
    font-family: "Padrao";
    font-size: 120%;
  }

  * {
    padding: 10px;
  }

  input {
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 100%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #f7ffcf;
  }

  button {
    font-weight: bold;
    font-size: 100%;
    color: white;
    background-color: black;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #conteinerFormulario {
    input {
      width: 80%;
    }

    button {
      width: 80%;
    }
  }

  #calculadora {
    input {
      width: 80%;
    }

    .botaoCaluladora {
      width: 20%;
    }
  }
}
